<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Arac_Kiralama_Otomasyonu.Properties.Settings.arackiralamaConnectionString"
            connectionString="Data Source=DESKTOP-KJPA1CG;Initial Catalog=arackiralama;User ID=sa;Password=3529654"
            providerName="System.Data.SqlClient" />
        <add name="Arac_Kiralama_Otomasyonu.Properties.Settings.arac_kiralamaConnectionString"
            connectionString="Data Source=DESKTOP-KJPA1CG;Initial Catalog=arac_kiralama;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>